<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="<%= title %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="author" content="<%= author %>" />
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="theme-color" content="#000000" data-react-helmet="true" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:url" content="<%= url %>" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title><%= title %></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>html,body{-ms-overflow-style: none;scrollbar-width: none;}</style>
</head>
