<nav id="navbar" class="backdrop-blur-md border-b border-l border-r border-white/20 fixed z-50 top-0 left-1/2 -translate-x-1/2 w-full lg:w-full lg:max-w-[65%] rounded-b-xl shadow-lg mb-6">
  <div class="flex flex-wrap items-center justify-between p-4">
    <a href="/" class="flex items-center">
      <p id="navbar-title" class="self-center text-2xl mr-auto ml-0 font-semibold whitespace-nowrap text-white hover:text-blue-400 transition-colors duration-300"></p>
    </a>
    <div class="flex lg:order-2">
      <button id="mobile-menu-button" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">
          Open main menu
        </span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" /></svg>
      </button>
    </div>
    <div id="mobile-navbar-menu" class="absolute right-0 top-[100%] w-56 backdrop-blur-md rounded-xl shadow-lg border border-white/20 z-50 hidden lg:hidden">
      <ul class="flex flex-col space-y-2 p-4">
        <li>
          <a href="/" class="<%= currentPage === 'home' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'home' ? 'aria-current="page"' : '' %>>
            Home
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/files" class="<%= currentPage === 'files' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'files' ? 'aria-current="page"' : '' %>>
            Files
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/random" class="<%= currentPage === 'random' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'random' ? 'aria-current="page"' : '' %>>
            Random
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/download" class="<%= currentPage === 'download' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'download' ? 'aria-current="page"' : '' %>>
            Download
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/stats" class="<%= currentPage === 'stats' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'stats' ? 'aria-current="page"' : '' %>>
            Stats
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/search" class="<%= currentPage === 'search' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= currentPage === 'search' ? 'aria-current="page"' : '' %>>
            Search
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <hr>
        <li>
          <a href="/login" id="login-register" class="<%= (currentPage === 'login' || currentPage === 'register') ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded' : 'block py-2 pl-3 pr-4 text-gray-900 rounded dark:text-white' %>" <%= (currentPage === 'login' || currentPage === 'register') ? 'aria-current="page"' : '' %>>
            Login / Register
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
      </ul>
    </div>
    <div id="navbar-sticky" class="hidden lg:flex items-center ml-auto mr-2">
      <ul class="flex flex-row space-x-8 font-medium">
        <li>
          <a href="/" class="<%= currentPage === 'home' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'home' ? 'aria-current="page"' : '' %>>
            Home
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/files" class="<%= currentPage === 'files' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'files' ? 'aria-current="page"' : '' %>>
            Files
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/random" class="<%= currentPage === 'random' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'random' ? 'aria-current="page"' : '' %>>
            Random
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/download" class="<%= currentPage === 'download' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'download' ? 'aria-current="page"' : '' %>>
            Download
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/stats" class="<%= currentPage === 'stats' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'stats' ? 'aria-current="page"' : '' %>>
            Stats
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/search" class="<%= currentPage === 'search' ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= currentPage === 'search' ? 'aria-current="page"' : '' %>>
            Search
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="/login" id="login-register" class="<%= (currentPage === 'login' || currentPage === 'register') ? 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 lg:dark:text-blue-500' : 'block py-2 pl-3 pr-4 text-gray-900 rounded lg:p-0 lg:dark:hover:text-blue-500 dark:text-white' %>" <%= (currentPage === 'login' || currentPage === 'register') ? 'aria-current="page"' : '' %>>
            Login / Register
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-400 transition-all duration-300 group-hover:w-full"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script type="module" src="/js/min/navbar.min.js" fetchPriority="high"></script>