<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="<%= title %>" />
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="<%= author %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="theme-color" content="#000000" data-react-helmet="true" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="/svg/nodejs.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <style>html,body{-ms-overflow-style: none;scrollbar-width: none;}</style>
    <link rel="stylesheet" href="/css/min/files.min.css" />
    <title>File Browser</title>
  </head>
  <body class="bg-black min-h-screen flex items-center justify-center relative">
    <%- include('partials/announcements') %>
    <%- include('partials/navbar') %>
    <%- include('partials/settings') %>
    <div id="popup-viewer" class="popup-viewer">
      <button id="close-popup" class="close-popup"><span>×</span></button>
      <button id="open-new-tab" class="open-new-tab"><span>↗</span></button>
      <button id="prev-image" class="nav-button prev-button">
        <span>‹</span>
      </button>
      <button id="next-image" class="nav-button next-button">
        <span>›</span>
      </button>
      <div class="popup-container">
        <img id="popup-image" class="popup-image" src="" alt="" draggable="false" />
        <video id="popup-video" class="popup-video" src="" alt="" draggable="false" controls autoplay></video>
      </div>
      <div class="image-info">
        <div id="image-title" class="image-title"></div>
        <div id="image-counter" class="image-counter"></div>
      </div>
    </div>
    <div id="container" class="mt-24 mb-24 md:w-full md:max-w-[65%] sm:w-full rounded-xl shadow-2xl p-4 sm:p-8 md:p-8 mx-auto z-10 backdrop-blur-md border border-white/20">
      <h1 id="title" class="text-3xl font-light text-center text-white mb-6 sm:mb-8 capitalize">
        <%= currentPage %>
      </h1>
      <div id="file-browser" class="file-browser w-full">
        <div id="sort-toolbar" class="invisible flex flex-wrap gap-3 p-3 mb-4 border border-white/10 rounded-xl" ></div>
        <div id="fileList" class="file-list">
          <div class="loading">Loading...</div>
        </div>
      </div>
    </div>
    <script type="module" src="/js/min/files.min.js" fetchPriority="high"></script>
    <%- include('partials/bg') %>
  </body>
</html>
