<!doctype html>
<html lang="en">
  <%- include('partials/head') %>
  <body class="bg-gray-950 min-h-screen flex items-center justify-center relative">
    <%- include('partials/announcements') %>
    <%- include('partials/navbar') %>
    <div id="container" class="mt-24 mb-24 md:w-auto md:min-w-[25%] md:max-w-[65%] sm:w-full rounded-xl shadow-lg p-8 mx-2 z-10 backdrop-blur-md border border-white/20">
      <h1 id="title" class="text-3xl font-light text-center text-white mb-8 capitalize">
        <%= currentPage %>
      </h1>
      <div id="loading" class="text-center text-gray-300 mb-4" style="display:none">
        Logging in...
      </div>
      <div id="error" class="error-message text-red-500 text-center mb-4" style="display:none"></div>
      <form id="loginForm" class="space-y-5">
        <div>
          <label for="username" class="block text-gray-300 mb-1">
            Username or Email
          </label>
          <input type="text" id="username" name="username" required autocomplete="username" placeholder="Enter your username or email" class="w-full px-4 py-2 rounded bg-[#1f1f1f] text-white border border-white/20" />
        </div>
        <div>
          <label for="password" class="block text-gray-300 mb-1">
            Password
          </label>
          <input type="password" id="password" name="password" required autocomplete="current-password" placeholder="Enter your password" class="w-full px-4 py-2 rounded bg-[#1f1f1f] text-white border border-white/20" />
        </div>
        <button type="submit" class="w-full py-2 rounded bg-blue-600 text-white font-semibold">
          Login
        </button>
      </form>
      <div class="my-6 flex items-center justify-center">
        <span class="text-gray-400 text-sm">
          or
        </span>
      </div>
      <div class="flex flex-col gap-3">
        <a href="/api/auth/discord" class="w-full py-2 rounded flex items-center justify-center gap-2 bg-[#5662f6] text-white font-semibold">
          <img src="/svg/discord.svg" alt="Discord" class="invert h-5 w-5"> Login with Discord
        </a>
        <a href="/api/auth/github" class="w-full py-2 rounded flex items-center justify-center gap-2 bg-[#212830] text-white font-semibold">
          <img src="/svg/github.svg" alt="GitHub" class="h-5 w-5"> Login with GitHub
        </a>
      </div>
      <div class="text-center mt-6">
        <a href="/register/" class="text-blue-500">
          Don't have an account? Register here
        </a>
      </div>
    </div>
    <script type="module" src="/js/min/login.min.js" fetchPriority="high"></script>
    <%- include('partials/bg') %>
  </body>
</html>